.rotate-paragraph {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}
.rotate-list {
    transform: rotate(-12deg);
    width: 100px;
    background-color: lightpink;
    color: white;
}

.rotate-list-items li {
    width: 100px;
    text-align: right;
}
.rotate-list-items li:nth-child(1) {
    transform: rotate(-10deg);
    background-color: lightyellow;
}
.rotate-list-items li:nth-child(2) {
    transform: rotate(2deg);
    background-color: lightblue;
    color: white;
}
.rotate-list-items li:nth-child(3) {
    transform: rotate(10deg);
    background-color: lightcoral;
}

.rotate-image {
    transform: rotate(-10deg);
}

.rotate-table {
    position: relative;
    left: 50px;
    transform: rotate(15deg);}
.rotate-table tr:nth-child(1) {
    background-color: #e6fec2;
    color: black;}
.rotate-table tr:nth-child(n+2) {
    background-color: #ffe5e5;}
.rotate-table tr:nth-child(n+5) {
    background-color: #dbf0fe;
    color: black;}
.rotate-table tr:nth-child(n+8) {
    background-color: #d8d8d8;}
.rotate-table tr:nth-child(n+11) {
    background-color: #fee9c2;
    color: black;
}

.gradients-linear {
    background: linear-gradient(#fceae6, #f8fce6);
    width: 200px;
    height: 200px;
}

.gradients-radial {
    background: radial-gradient(#acfc86, #f1f4f0);
    width: 200px;
    height: 200px;
}

.gradients-positioned {
    background:
            radial-gradient(at top left, #fee885, #fe859b);
    width: 200px;
    height: 200px;
    color: white;
}

.animation-keyframes {
    position: relative;
    top: 0px;
    animation-duration: 7s;
    animation-name: slidein;
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
}

@keyframes slidein {
    from {
        position: relative;

        top: 0px;
        font-size: 100%;
        margin-left: 100%;
        width: 200px;
        height: 200px;
        background-color: yellow;
        color: black;
    }

    50% {
        position: relative;
        top: -200px;
        font-size: 300%;
        margin-left: 25%;
        width: 400px;
        height: 400px;
        background-color: blue;
        color: white;
    }

    to {
        position: relative;
        top: 0px;font-size: 100%;
        margin-left: 0%;
        width: 200px;
        height: 200px;
        background-color: red;
        color: white;
    }
}

.flex-container {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display:flex;
    justify-content: center;
}
.flex-box {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1 {
    background-color: yellow;
}
.flex-box-2 {
    background-color: blue;
    color: white;
}
.flex-box-3 {
    background-color: red;
    color: white;
}

@media (min-width: 0px) and (max-width: 300px) {
    body {
        background-color: yellow;
    }
    .media-query {
        background-color: red;
        color: white;
    }
}
@media (min-width: 300px) and (max-width: 600px) {
    body {
        background-color: blue;
        color: white;
    }
    .media-query {
        background-color: yellow;
        color: black;
    }
}

@media (min-width: 0px) and (max-width: 300px) {
    body {
        background-color: yellow;
    }
    .media-query {
        background-color: red;
        color: white;
    }
}
@media (min-width: 300px) and (max-width: 600px) {
    body {
        background-color: blue;
        color: white;
    }
    .media-query {
        background-color: yellow;
        color: black;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: red;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
}

