.wd-black-theme{
    background-color: black;
    color:white;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color:rgb(47, 51, 54);
}

#wd-title{
    margin-left: 16px;
    border-top: 12px;
    font-size: 20px;
    font-weight: bold;
}

#wd-handle{
    color:rgb(47, 51, 54);
    font-size:13px;
    margin-left:16px;
    border-bottom: solid 1px;
    border-color:rgb(47, 51, 54);
}


.wd-avatar{
    border-radius: 50%;
    margin-left: 16px;
    border-top:12px;
    width: 48px;
    display: inline-block;
}

.wd-user-name{
    margin-left:12px;
    border-top: 12px;
    font-size:15px;
    display: inline-block;
}

.wd-user-handle{
    font-size: 15px;
    color:rgb(47, 51, 54);
    display:inline-block;
}



.wd-user-tweet{
    font-size:15px;
    margin-left:76px;
    margin-bottom: 12px;
    inline-size: 506px;
}

.wd-right-corner{
    float: right;
    color:rgb(47, 51, 54);
    display:inline-block;
}

#wd-blue-ellipsis{
    color:cornflowerblue;
}

#wd-picture{
    margin-left:76px;
    margin-right: 12px;
    width:504px;
    height:264px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.wd-article-title{
    border-top:12px;
    font-size: 15px;
    padding:12px 12px 12px 12px;
    margin-left:76px;

}

.wd-article{
    border-color:rgb(47, 51, 54);
    padding:12px 12px 12px 12px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: rgb(47, 51, 54);
    border-bottom: solid 1px;
    margin-left:76px;
    color:rgb(47, 51, 54);
    inline-size: 506px;
    margin-bottom: 12px;
}
#wd-icon-bar{
    margin-left:76px;
}
.wd-distance-btw-icons-below-tweet{
    margin-left:101px;
}

.wd-counts{
    color:rgb(47, 51, 54);
    margin-left:12px;
}

#wd-heart-icon{
    color:deeppink;
}

